html {
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center;
  }
  
  body {
    max-width: 500px;
    margin: 0 auto;
    background-image: url("todoimg.jpg");
    background-size: cover;
  }
  
  input {
    padding: 30px;
    width: 500px;
    height: 60px;
    font-size: 27px;
    border: solid 2px;
    border-radius: 50px;
  }
  
  input:focus {
    outline: none;
  }
  
  li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
  }
  
  li:hover {
    text-decoration: line-through;
  }

  h1{
      color: rgb(51, 127, 226);
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
  }